doctype
html(lang='ar')
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="bz2/index-a70333a1510e7ae60f87b18516f2b914.min.js")
        script(src="script.js")
        link(rel="stylesheet", href="style.css")

        title قرآن کم حجم
    body
    h1(dir='rtl') در حال بارگذاری
    noscript جاوااسکریپت مرورگر خود را روشن کنید
